body {
  background: url('bulb.png');

  background-size: 50vw;
}

.nav {
  position: fixed;
  margin-top: 2vmin;
  margin-left: 2vmin;
  font-size: 200%;
  z-index: 1;
}

a {
  text-decoration: none;
}

.spiral {
  margin: auto;
  display: flex;

  width: 66vw;
  height: 100vh;
}

.spiral2 {
  margin: 0;
  display: block;
  position: relative;
  width: 100vw;
  height: 400vh;
  z-index: 2;
}

.spiral_invert {
  margin: 0;
  display: block;
  position: relative;
  width: 100vw;
  height: 400vh;
  z-index: 1;
}

.spiral3 {
  margin: 0;
  display: block;
  position: relative;
  width: 50vw;
  height: 50vh;
  z-index: 2;
}

.spiral4 {
  margin: 0;
  display: block;
  position: relative;
  width: 100vw;
  height: 400vh;
  z-index: 2;
}

.spiral5 {
  margin: auto;
  display: block;
  position: relative;

  z-index: 3;
}

.garble {
  filter: drop-shadow(3px 10px 3px black);
}

.dress {

  width: 33vw;
  height: 200vh;
  margin: 1px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: width 1s;
  transition: width 1s;

}

.dress:hover {
  width: 11vw;
  -webkit-transition: width 1s;
  transition: width 1s;
}
