body {
  background: url('bulb.png');
  background-size: 4vh 5vw;
}

.nav {
    position: fixed;
    margin-top: 2vmin;
    margin-left: 2vmin;
    font-size: 200%;
    z-index: 1;
}

a {
  text-decoration: none;
}

.spiral {
  margin: auto;
  display: flex;
  width: 33vw;
  height: 33vw;
  background: rgba(123, 80, 100, 1);
}
